<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
    <form action="/action_page.php">
      Birthday:<br>
      <input type="text" name="birthday" ><br>
      Gender:<br>
      <input type="text" name="gender"><br><br>
      Expertise:<br>
      <input type="text" name="expertise"><br><br>
      Description:<br>
      <input type="text" name="description"><br><br>

      <input type="submit" value="Submit">
      <input type="reset">
    </form>
{% endblock %}
