<!DOCTYPE html>
{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}

    <h1> PROFILE PAGE </h1>
    <div id="profile_picture">
        <div align="center"><img class="img-circle" height="180px" width="185px" src="{{ profile_pic }}" class="center"></div>
    </div>
    <div id="name">
     <div align="center">{{ name }}</div>
    </div>
    <div id="bio">
    <table align="center">
        <tr>
            <td id="subject">Birthday</td>
            <td id="value">{{ birthday }}</td>
        </tr>
        <tr>
            <td id="subject">Gender</td>
            <td id="value">{{ gender }}</td>
        </tr>
        <tr>
            <td id="subject">Expertise</td>
            <td id="value">{% for object in expertise %}
                <div class = "expertise">{{ object }}</div>
            {% endfor %}</td>
        </tr>
        <tr>
            <td id="subject">Description</td>
            <td id="value">{{ description }}</td>
        </tr>
        <tr>
            <td id="subject">Email</td>
            <td id="value">{{ email }}</td>
        </tr>
    </table>
  
    </div>
{% endblock %}
