{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" id="tt-easy-google-fonts-css" href="https://fonts.googleapis.com/css?family=Open+Sans%3Aregular%7CMuli%3Aregular%2C300&amp;subset=latin%2Call%2Call&amp;ver=4.7.6" type="text/css" media="all">

<style>
        .image-atas {
        width:165px;
        height:160px;
        border-style: hidden;
        border-radius: 100%;
        float:left;
        margin-left:140px;
    }
    .image-atas:hover{
        width:185px;
        height:180px;
    }

    .image-bawah{
        width:50px;
        height:40px;
        border-style: hidden;
        margin-top:15px;
        margin-left:60px;
        float:left;
    }
    .nama-atas{
        margin-top: 60px;
        padding-left: 340px;
        margin-top: 66px;
        padding-left: 350px;
    }
    .nama-bawah{
        margin-top: 40px;
        margin-left:20px;
        padding-left: 100px;
    }
    .position{
        margin-left:100px;
    }
    .friendss{
        padding-left:60px;
    }
    #post{
       padding-left:600px;
       }

    .friendss:hover, #post:hover{
        font-size:20px;
    }
    #post{
       padding-left:750px;
       }
    #slash{
    padding-left:300px;
    float:left;
    }
     body{
     font-family: 'Muli';
    background: linear-gradient(180deg, #35577D, #141E30) no-repeat;
    color:white;
     }
     #statistic{
    text-align: center;
    font-size:40px;
    letter-spacing:4px;
  }

</style>
<head>
    <meta charset="UTF-8">
    <title>Statistic</title>
</head>
<body>
    <h1 id="statistic"><strong>Statistic of {{ name }}</strong></h1>
</div>
<hr class="container" style="width: 1000px"/>
<br></br>

<div class="container">
    <img class="image-atas" alt="Luthfi Dzaky"
         src="http://zdnet3.cbsistatic.com/hub/i/2014/09/18/a2bf8b11-3f23-11e4-b6a0-d4ae52e95e57/f556a234d5e5ece266af47828ec8665c/your-company-doesnt-own-your-internet-presence.png">
    <h2 class="nama-atas"><strong>{{ name }}</strong></h2>
</div>

<br></br>

<section>
<div class="container position">
    <h4 class="friendss" style="float:left"><a href="/add_friend/"><strong>Friends </strong></a> {{ friend }} People</h4>
    <h4 id="slash">|</h4>
    <h4 id="post"><a href="/status/"><strong>Feed </strong></a> {{feeds}} Post</h4>
</div>
</section>
<hr class="container" style="width: 1000px"/>
<br></br>

<div class="container position">
    <h4 class="friendss"><strong>Latest Post</strong></h4>
    <img class="image-bawah" alt="Luthfi Dzaky"
         src="http://zdnet3.cbsistatic.com/hub/i/2014/09/18/a2bf8b11-3f23-11e4-b6a0-d4ae52e95e57/f556a234d5e5ece266af47828ec8665c/your-company-doesnt-own-your-internet-presence.png">
    <h4 class="nama-bawah"><strong>{{ name }}</strong></h4>
</div>

<div class="container position" style="width:400px">
    <h5 style="margin-left:60px">{{ laststatus }}</h5>
    <h6 style="color: lightgray; margin-left:60px;">{{ created_date }}</h6>
</div>

<br></br>
</body>
{% endblock %}