{% extends "base.html" %}

    {% block content %}
    <section name="form">
        <h2><u>Add Friend</u></h2>
        <form id="form" method="POST" action="{% url 'add_friend:add_friend' %}">
            {% csrf_token %}
            {{ Add_Friend }}
            <br>
            <button type="submit" class="btn btn-default" style="float: right; background: lightgray;border-color: black">Add Friend</button>
        </form>
    </section>

    <section name="table teman">
        <!--  Populate semua isi pesan dari model -->
        <table class="table" style="table-layout: fixed;">
            <thead">
                <th style="border:0 none">List Friend</th>
            </thead>
            <tbody style="border:0 none">
                {% for i in my_friend %}
                    <td style="border:0 none; text-align: left"> {{i.name}} </td>
                    <td style="border:0 none; "><a href=" {{i.url}}">{{i.url}}</td>
                    <td style="border:0 none; text-align: right"><i> Added {{i.created_date}} </i></td>
                </tr>             
                {% endfor %}
            </tbody>
        </table>
    </section>

    {% endblock %}