body{
  margin: 70px;
}

/* Custom navbar style */
.navbar-static-top {
  margin-bottom: 19px;
}
.navbar-default .navbar-nav>li>a {
    cursor: pointer;
}
.style{
  border-bottom-left-radius:25px;
  border-top-left-radius:25px
  border:#69cff0;
  background: #69cff0;
}
/* Textarea not resizeable */
textarea {
    resize:none
}
section{
  min-height: 600px;
}

/* styling wrapper form */
#input-list{
  background: linear-gradient(to bottom right, #606062, #393939);
}
/* styling form */
#input-list form{
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}
/* styling judul form, apakah arti dari tanda '>' ? */
#input-list form > h2{
  font-size: 1.3em;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
/* styling form input dan textarea, apakah arti dari tanda ',' ? */
#input-list form > .todo-form-input, #input-list form > .todo-form-textarea{
  padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}
/* styling footer */
footer p{
  text-align: center;
  padding-top: 10px;
}

#input-list{
  background: linear-gradient(to bottom right, #606062, #393939);
}
#input-list form{
  width: 400px;
  margin: 50px auto;
  text-align: center;
  position: relative;
  z-index: 1;
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  position: relative;
}
#input-list form > h2{
  font-size: 1.3em;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
#input-list form > .todo-form-input, #input-list form > .todo-form-textarea{
  padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
}

#my-list{
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}

.to-do-list{
  text-align: center;
  background: #fff;
  position: relative;
  z-index: 15;
  border-radius: 5px 5px 20px 20px;
  margin-bottom: 60px;
  top: 0px;

  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;

  transition-timing-function: cubic-bezier(.17,.02,.2,.99);
  -webkit-transition-timing-function: cubic-bezier(.17,.02,.2,.99);
}

.to-do-list:after{
    content:"";
    display:block;
    height:25px; /* Which is the padding of div.container */
    background: #fff;
}

.to-do-list .to-do-list-date-added {
  background: #bde;
  font-size: 12px;
  padding: 5px 10px;
}
.to-do-list .to-do-list-description {
  padding: 10px 25px;
  border-radius: 0px 0px 0px 00px;
  z-index: 15;
  background: #fff;
  height: 125px;
  text-align: justify;
  overflow: auto;
}


/* styling responsive max-width menandakan bahwa rule css ini hanya akan bekerja untuk layar dengan maksimal 768px, jika lebih dari 768px maka rule ini diabaikan */
@media only screen and (max-width: 768px) {
  #input-list form {
      width: 290px;
  }

  .flex {
    display = flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    margin-right: 0px;
    margin-left: 0px;
  }
  .flex-item {
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
  }
}

@media screen and (min-width: 768px) {
  .flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: -15px;
    margin-left: -15px;
  }

  .flex-item {
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 25%;

  }

}
  /*font Awesome http://fontawesome.io*/
    @import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);
    /*Comment List styles*/
    .comment-list .row {
      margin-bottom: 0px;
    }
    .comment-list .panel .panel-heading {
      padding: 4px 15px;
      position: absolute;
      border:none;
      /*Panel-heading border radius*/
      border-top-right-radius:0px;
      top: 1px;
    }
    .comment-list .panel .panel-heading.right {
      border-right-width: 0px;
      /*Panel-heading border radius*/
      border-top-left-radius:0px;
      right: 16px;
    }
    .comment-list .panel .panel-heading .panel-body {
      padding-top: 6px;
    }
    .comment-list figcaption {
      /*For wrapping text in thumbnail*/
      word-wrap: break-word;
    }
    /* Portrait tablets and medium desktops */
    @media (min-width: 768px) {
      .comment-list .arrow:after, .comment-list .arrow:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
      }
      .comment-list .panel.arrow.left:after, .comment-list .panel.arrow.left:before {
        border-left: 0;
      }
      /*****Left Arrow*****/
      /*Outline effect style*/
      .comment-list .panel.arrow.left:before {
        left: 0px;
        top: 30px;
        /*Use boarder color of panel*/
        border-right-color: inherit;
        border-width: 16px;
      }
      /*Background color effect*/
      .comment-list .panel.arrow.left:after {
        left: 1px;
        top: 31px;
        /*Change for different outline color*/
        border-right-color: #FFFFFF;
        border-width: 15px;
      }
      /*****Right Arrow*****/
      /*Outline effect style*/
      .comment-list .panel.arrow.right:before {
        right: -16px;
        top: 30px;
        /*Use boarder color of panel*/
        border-left-color: inherit;
        border-width: 16px;
      }
      /*Background color effect*/
      .comment-list .panel.arrow.right:after {
        right: -14px;
        top: 31px;
        /*Change for different outline color*/
        border-left-color: #FFFFFF;
        border-width: 15px;
      }
    }
    .comment-list .comment-post {
      margin-top: 6px;
    }
