.item2 {
  background-color: white;
}

#wrapper {
  background-color: lightblue;
}

h1 {
  text-align: center;
}

img.center {
    margin-top: 30px;
    height: 150px;
    width: 150px;

    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;

    object-fit: cover;
}

#name{
    margin-top: 15px;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
}

table{
    margin-top: 10px;
}

table, tr, td#subject{
    padding: 5px;
}

table, tr, td#value{
    padding-left: 50px;
    padding-right: 32px;
}

.expertise{
    border: solid;
    border-width: thin;
    border-radius: 50px;
    float: left;
    margin-right: 10px;
    padding: 10px 15px 10px 15px;
}
