<nav class="navbar navbar-inverse navbar-fixed-top" id="navbar-top">
  <div class="container-fluid"  >
    <div class="navbar-header">
      <a class="navbar-brand" href="#"><strong>Ling in</strong></a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/status/">Status</a></li>
      <li><a href="/profile/">Profile</a></li>
      <li><a href="/add_friend/">Friends</a></li>
      <li><a href="/dashboard/">Stats</a></li>
    </ul>
  </div>
</nav>