{% extends "base.html" %}

{% block content %}
<section name="input-list" id="input-list">
    <div class="container">
        <form class="post-status" id="form" method="POST" action="{% url 'Fitur_1:add_todo' %}">
            <h2 style="color:white;">Update Status</h2>
            {% csrf_token %}
            {{ todo_form }}
            <input id="submit" type="submit" class="btn btn-lg btn-primary pull-right btn-info" value="Post">
        </form>
    </div>
</section>
<section name="my-list" id="my-list">
    <div class="container">
        <div class="flex">
            {% if todo %}
            <h2 class="page-header">Status</h2>
                {% for data in todo %}
                    <article class="row">
                        <div class="col-md-2 col-sm-2 hidden-xs">
                          <figure class="thumbnail">
                            <img class="img-responsive" src="http://zdnet3.cbsistatic.com/hub/i/2014/09/18/a2bf8b11-3f23-11e4-b6a0-d4ae52e95e57/f556a234d5e5ece266af47828ec8665c/your-company-doesnt-own-your-internet-presence.png" />
                            <figcaption class="text-center post-status">{{ name }}</figcaption>
                          </figure>
                        </div>
                        <div class="col-md-10 col-sm-10">
                          <div class="panel panel-default arrow left">
                            <div class="panel-body post-status">
                              <header class="text-left">
                                <div class="comment-user"><i class="fa fa-user"></i>{{ name }}</div>
                              </header>
                              <div class="comment-post">
                                <p>
                                  {{data.description}}
                                </p>
                              </div>
                              <time class="comment-date" datetime="16-12-2014 01:05"><i class="fa fa-clock-o"></i> {{data.created_date}}</time>
                            </div>
                          </div>
                        </div>
                      </article>
                                
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>

{% endblock %}
