{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block css %}
    {% endblock %}
    <meta charset="UTF-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" id="tt-easy-google-fonts-css" href="https://fonts.googleapis.com/css?family=Open+Sans%3Aregular%7CMuli%3Aregular%2C300&amp;subset=latin%2Call%2Call&amp;ver=4.7.6" type="text/css" media="all">
</head>
<body>
<style>
textarea {
   resize: none;
}
body{
    font-family: 'Muli';
    background: linear-gradient(180deg, #35577D, #141E30) no-repeat fixed 0 100%;
    color:white;
    margin-left: 5%;
    margin-right: 5%;
        }
    .post-status{
    color:black;}

    footer p{
        text-align: center;
        padding-top:10px;
    }
</style>
<header>
    {% include "app_stats/partials/header.html" %}
</header>
<br></br>

<br></br>
<content>
    {% block content %}
    <!-- content goes here -->
    {% endblock %}
</content>
<footer>
    <!-- TODO Block Footer dan include footer.html -->
    {% block footer %}
    {% include "app_stats/partials/footer.html" %}
    {% endblock %}
</footer>
</body>
</html>
